<b>Hello World</b>
<div class="assign-topic-container">
    {{#if custom_fields.is_assigned}}
        <i>Assigned to </i>{{custom_fields.assigned_user}}
        <button {{action "unassignUser" model on="click"}}>Unassign</button>
    {{else}}
        <div class="dropdown">
            <i>Assign topic to agent</i>
          <div id="user-dropdown" class="dropdown-content">
            <input type="text" id="user-search" onchange={{action "filterUsers" model}} value={{custom_fields.search_term}} placeholder="Search...">
            <div id="user-search-list">
            </div>
          </div>
        </div>
    {{/if}}
</div>