<div class="assign-topic-container">
    {{#if model.is_assigned}}
        <i>Assigned to </i>{{model.assigned_user}}
        <button {{action "unassignUser" model on="click"}}>Unassign</button>
    {{else}}
        <div class="dropdown">
            <i>Assign topic to agent</i>
          <div id="user-dropdown" class="dropdown-content">
            <input type="text" id="user-search" onkeyup={{action "filterUsers" model usernames}} value={{model.search_term}} placeholder="Search...">
            <div id="user-search-list" class="user-search-list">
            </div>
          </div>
        </div>
    {{/if}}
</div>